# ─── JWT ─────────────────────────────────────────
JWT_SECRET=super_secret_jwt_key_change_in_production

# ─── Service URLs (local dev without Docker) ─────
USER_SERVICE_URL=http://localhost:3001
MOVIE_SERVICE_URL=http://localhost:3002
BOOKING_SERVICE_URL=http://localhost:3003

# ─── Database URLs (local dev) ───────────────────
USER_DB_URL=postgresql://postgres:postgres@localhost:5432/user_db
MOVIE_DB_URL=postgresql://postgres:postgres@localhost:5433/movie_db
BOOKING_DB_URL=postgresql://postgres:postgres@localhost:5434/booking_db

# ─── Phase 2: Redis ───────────────────────────────
# REDIS_URL=redis://localhost:6379

# ─── Phase 3: Kafka ───────────────────────────────
# KAFKA_BROKER=localhost:9092
# KAFKA_GROUP_ID=cineflow-group
